@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700");
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@font-face {
  font-family: "LeagueBold";
  src: url("../fonts/LeagueSpartan-Bold.otf") format("opentype"); }

* {
  font-family: "Source Sans Pro", sans-serif; }

body {
  background: #21273b;
  background: -webkit-linear-gradient(to right, #21273b, #171e35);
  background: linear-gradient(to right, #21273b, #171e35);
  margin-top: 100px; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.row {
  display: flex; }
  @media screen and (max-width: 640px) {
    .row {
      flex-direction: column; } }
  .row > .third {
    width: 33.33333%;
    padding: 0 18px; }
    @media screen and (max-width: 640px) {
      .row > .third {
        width: 100%; } }
  .row > .two-third {
    width: 66.66667%;
    padding: 0 18px; }
    @media screen and (max-width: 640px) {
      .row > .two-third {
        width: 100%; } }

a, a:active, a:hover, a:visited {
  font-weight: bold;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
  background-image: linear-gradient(50deg, #cee3ed 0%, #cee3ed 100%);
  background-repeat: no-repeat;
  background-size: 150% 0.2em;
  background-position: 0 105%;
  transition: background-size 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.21s cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px; }

a:active, a:hover {
  color: #21273b;
  background-size: 100% 95%; }

.tag {
  background-color: #cee3ed;
  color: #21273b;
  padding: 0 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.img-fluid {
  max-width: 100%; }

.img-round {
  border-radius: 25%; }

.main-hero {
  -moz-animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  animation: fadeIn 2s; }
  .main-hero h1 {
    font-family: "LeagueBold";
    font-size: 3rem;
    color: #cee3ed; }
  .main-hero p {
    color: #cee3ed;
    font-size: 2rem;
    line-height: 1.5; }
  .main-hero img.profile-picture {
    border: 10px solid #cee3ed;
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.4);
    width: 80%;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: .05s; }
    .main-hero img.profile-picture:hover {
      transform: rotate(5deg); }
