$column-gutter: 18px;
$break-md: 805px;
// Fonts
$font-family-hero-title: "LeagueBold";
$font-family-base: "Source Sans Pro";

// All Colors

//// Grayscale
$c-black: #0a0a0a;
$c-white: #f1f1f1;
$c-body: #cee3ed;
$c-funky: #b0d3ed;

//// Colors

//// Gradient
$main-from: rgb(33, 39, 59);
$main-to:  rgb(23, 30, 53);

$anchor-from: #2b4f7b;
$anchor-to: #19547b;

// Anchors
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

$cubic: cubic-bezier(0.4, 0, 0.2, 1);